* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Courier New', Courier, monospace;

    overflow: hidden;
}

body {
    height: 80vh;
    background-color: black;
    color: white;
    display: flex;

}

#canvas {
    flex: 1;
        
    display: flex;
    flex-direction: column;

    margin: 1em;
}

header {
    text-align: center;
    padding: 2em;
}

.row {
    flex: 1;
    display: flex;
}

.square {
    flex: 1;
    height: auto;
}

/* keep the squares square when flexing */
.square:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.controlPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin: 1em;
}

button {
    padding: 2em;
    max-width: 40%;
    background-color: white;
    border: none;
    font-weight: bold;
    font-size: large;
}

.colorChange {
    margin-left: 0;
}

.slidecontainer,
.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 1em;
}

.container {
    flex: 1;

    height: 100%;
    display: flex;
    flex-direction: column;
}

.test {
    flex: 1;
}

@media only screen and (max-width: 600px) {
    .test {
        flex: 0;
    }
  }