* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Courier New', Courier, monospace;

    overflow: hidden;
}

body {
    height: 80vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

#container {
    height: 80%;
    flex: 1;
    margin: 1em;

    display: flex;
    flex-direction: column;    
    justify-content: center;
}

header {
    text-align: center;
    padding: 2em;
}

.row {
    display: flex;
    justify-content: center;
    background-color: grey:
}

.square {
    flex: 1 1 auto;
    height: auto;
}

/* keep the squares square when flexing */
.square:before {
    content: '';
    display: block;
    padding-top: 100%;    
}

.controlPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clear {
    padding: 1em;
    max-width: 40%;
}

.slidecontainer,
.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 1em;
}